html{
    background-color: rgb(196, 24, 58);
    font-style:normal;
    font-size: 15px;
    font-family: arial, verdana, sans-serif;
}

body{
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-color: white;
}
h1{
    font-size: 80px;
    color: rgb(153, 128, 17);
    position: relative;
    top: 130px;
    left: -50px;
    font-weight: 0px;
    font-family: Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: -2px;
    
}

h2{
    color: rgb(10, 4, 4);
    font-size: 20px;
    position: relative;
    top: 270px;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace ;
    
}

h3{
    font-size: 20px;
    color: rgba(39, 29, 29, 0.782);
    position: relative;
    top: 230px;
    font-family:'Courier New', Courier, monospace ;
    padding-left: 20px;
    
}
p{
    font-size: 20px;
    position: relative;
    top: 70px;
    font-family: verdana, sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-indent: 100px;
    padding-left: 250px;
    padding-right: 30px;
}

.container{
    display: flex;
    height: 100%;
    position: relative;
    text-align: center;
    
}

.box{
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: ;
         
}

p1{
    font-size: 15px;
    position: relative;
    top: 20px;
    font-family: verdana, sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-indent: 100px;
    padding-left: 260px;
       
}

/* p2{
    font-size: 40px;
    position: relative;
    top: 30px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-indent: 50px;
    padding: 400px;
       
} */

img{
    border: 2px solid rgb(150, 106, 11);
    border-radius: 90px;
    height: 150px;
    position: absolute;
    top: 90px;
    left: 10px;
    box-shadow: 1px 1px 10px black;
    
}
.menu{
    height: 100%;
    width: 20%;
    background-color: rgb(182, 135, 34);
    text-align: center;
    
}

h2:hover{
    color: rgb(200, 221, 219);
}


.texto{
    width: 0px;
    height: 700px;
    line-height: 0;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 2rem;
    left: 40px;
    position: relative;
    top: 280px;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: #bd5d38;
  }

  .dev-icons {
    font-size: 3rem;
  }

  
